{% extends 'Home/home-template.html' %}
{% block title %}
Posts
{% endblock %}
{% block active_nav %}
<li class="">
    <a href="/home">Home</a> <!--TODO: Remove hardcoded-->
</li>
    <li class="active">
        <a href="">Posts</a>
    </li>
    <li class="">
        <a href="/friends">Friends</a> <!--TODO: Remove hardcoded-->
    </li>
    <li class="">
        {% if request.user.username == "guest" %}
            <a href="/profile/register/">Profile</a> <!--TODO: Remove hardcodede-->
        {% else %}
            <a href="/profile/view/{{ request.user.username }}">Profile</a> <!--TODO: Remove hardcodede-->
        {% endif %}
    </li>
    <li class="">
        <a href="index.html">Messages</a>
    </li>
{% endblock %}

{% block body %}
<div id="all">
            <div id="content">
                <div class="container">
                    <div class="col-sm-12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>Posts</li>
                        </ul>
                    </div>
                    <!-- *** LEFT COLUMN ***
		     _________________________________________________________ -->
                    <div class="col-sm-9" id="blog-listing">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Posts</a>
                            </li>
                        </ul>
                        <div class="box">
                            <form role="form" action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <!---->
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputEmail1">Whats on your mind</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write Post">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputFile">Attach Picture</label>
                                    <input type="file" id="exampleInputFile">
                                </div>
                                <!---->
                                <button type="submit" class="btn">Post</button>
                            </form>
                        </div>
                        <div class="post">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 text-center-xs">
                                    <p><img src="img/blog-avatar2.jpg" class="img-responsive img-circle" alt=""></p>
                                </div>
                                <div class="col-sm-9 col-md-10">
                                    <h5>Post Author</h5>
                                    <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
                                </div>
                            </div>
                            <p class="date-comments"><a href="post.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a><a href="post.html"><i class="fa fa-comment-o"></i> 8 Comments</a></p>
                            <div class="image">
                                <a href="post.html">
                                    <img src="img/blog2.jpg" class="img-responsive" alt="Example blog post alt">
                                </a>
                            </div>
                            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
            est. Mauris placerat eleifend leo.</p>
                            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                        </div>
                        <div class="post">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 text-center-xs">
                                    <p><img src="img/blog-avatar2.jpg" class="img-responsive img-circle" alt=""></p>
                                </div>
                                <div class="col-sm-9 col-md-10">
                                    <h5>Post Author</h5>
                                    <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
                                </div>
                            </div>
                            <p class="date-comments"><a href="post.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a><a href="post.html"><i class="fa fa-comment-o"></i> 8 Comments</a></p>
                            <div class="image">
                                <a href="post.html">
                                    <img src="img/blog2.jpg" class="img-responsive" alt="Example blog post alt">
                                </a>
                            </div>
                            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
            est. Mauris placerat eleifend leo.</p>
                            <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                        </div>
                        <ul class="pager">
                            <li class="previous">
                                <a href="#">&larr; Older</a>
                            </li>
                            <li class="next disabled">
                                <a href="#">Newer &rarr;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-md-9 -->
                    <!-- *** LEFT COLUMN END *** -->
                    <div class="col-md-3">
                        <!-- *** BLOG MENU ***
 _________________________________________________________ -->
                        <div class="panel panel-default sidebar-menu">
                            <div class="panel-heading">
                                <h3 class="panel-title">Posts</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active">
                                        <a href="blog.html">All posts</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Friends posts</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">My posts</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.col-md-3 -->
                        <!-- *** BLOG MENU END *** -->
                        <div class="banner">
                            <a href="#">
                                <img src="img/banner.jpg" alt="Mungujakisa 2016" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /#content -->
            <!-- *** FOOTER ***
 _________________________________________________________ -->
            <div id="footer" data-animate="fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h4>Pages</h4>
                            <ul>
                                <li>
                                    <a href="text.html">About us</a>
                                </li>
                                <li>
                                    <a href="text.html">Terms and conditions</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact us</a>
                                </li>
                            </ul>
                            <hr>
                            <h4>User section</h4>
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Regiter</a>
                                </li>
                            </ul>
                            <hr class="hidden-md hidden-lg hidden-sm">
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-3 col-sm-6">
                            <h4>Top categories</h4>
                            <h5>Men</h5>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                            <h5>Ladies</h5>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Skirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Pants</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                            <hr class="hidden-md hidden-lg">
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-3 col-sm-6">
                            <h4>Where to find us</h4>
                            <p><strong>Obaju Ltd.</strong><br>13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br><strong>Great Britain</strong></p>
                            <a href="contact.html">Go to contact page</a>
                            <hr class="hidden-md hidden-lg">
                        </div>
                        <!-- /.col-md-3 -->
                        <div class="col-md-3 col-sm-6">
                            <h4>Get the news</h4>
                            <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn"><button class="btn btn-default" type="button">Subscribe!</button></span>
                                </div>
                                <!-- /input-group -->
                            </form>
                            <hr>
                            <h4>Stay in touch</h4>
                            <p class="social"><a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a><a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a></p>
                        </div>
                        <!-- /.col-md-3 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /#footer -->
            <!-- *** FOOTER END *** -->
            <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
            <div id="copyright">
                <div class="container">
                    <div class="col-md-6">
                        <p class="pull-left">© 2015 Your name goes here.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right">Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious.com</a><!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  --></p>
                    </div>
                </div>
            </div>
            <!-- *** COPYRIGHT END *** -->
        </div>
{% endblock %}